BasedOnStyle: LLVM
ColumnLimit: 400

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 0

PenaltyBreakBeforeFirstCallParameter: 1000000000
PenaltyBreakOpenParenthesis: 1000000000
PenaltyBreakAssignment: 1000000000
PenaltyBreakString: 1000000000
PenaltyExcessCharacter: 1000000000

BreakBeforeBraces: Attach
PointerAlignment: Right

IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: No

# REMOVE blank lines
MaxEmptyLinesToKeep: 0
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false
SeparateDefinitionBlocks: Never